.App{
    text-align: center;
    width: 960px;
    margin: 0 auto;
    color:#ddd;
}
.App h1{
    font-size: 4em;
    letter-spacing: 2px;
}
.App h1,h3{
    color: yellow;
    
}
.App button{
    background: transparent;
    color: white;
    padding: 10px;
    border: 3px solid #ccc;
    margin:0 10px;
    font-size: 1.2em;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s;
}
.App button:hover{
    transform: scale(1.1);
}
.App button:disabled{
    opacity: 0.2;
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
.App{
    width: 100%;
}
.App h1{
   
    letter-spacing: 2px;
}
}