@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
:root{
  --primary:rgba(0, 0, 0, 0.856);
}
body {
  margin: 0;
 background-color: var(--primary);
 box-sizing: border-box;
 font-family: 'Rubik', sans-serif;
}


